* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

#layout {
    Display: inline-block;
    display: flex;
    justify-content: center;
    width: 90vw;
    max-width: 1280px;
    margin: 15px auto;
    gap: 50px;
    background-color: rgb(250, 250, 247);
}

#thumbnail-column {
    flex: 1;
}

#product-info a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

.btn {
    font-size: 22px;
    background-color: #dbe0ff;
    border: 1px solid black;
    margin: 15px;
    border-radius: 12px;
    display: inline-block;
}