#p1 {
    color: green;
}

#s1 {
    color: #F711F7
}

#s2 {
    color: #F711F7
}

#s3 {
    color: red
}

#s4 {
    color: goldenrod
}

#s5 {
    color: blue
}

#p2 {
    background-color: skyblue;
}

#s6 {
    background-color: yellow;
}

#s7 {
    font-weight: bold;
}

#s8 {
    font-weight: bold;
}

#s9 {
    font-style: italic;
}

#s11 {
    font-weight: bold;
}

#s12 {
    font-style: italic;
}

#s13 {
    text-decoration: underline;
}

#s14 {
    text-decoration: underline;
}

#s15 {
    font-size: 36px;
}

#s16 {
    font-size: 12px;
}

#s17 {
    font-size: 48px;
}

#s18 {
    font-size: 24px;
}