* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    width: 90vw;
    margin: 0px auto;
    max-width: 1200px;
}

.card {
    border: 5px solid lavender;
    padding: 36px; 
    text-align: center;
    margin: 36px 0px;
    flex: 1;
}

.card h3 {
    font-size: 36px;
    margin: 0px;
}

.card p {
    font-size: 24px;
    margin: 24px 0px 0px;
}

.card-container {
    display: flex;
    gap: 36px;
    flex-wrap: wrap;
}

.sbs {
    display: flex;
    align-items: center;
    gap: 36px;
}

.sbs .imgc,
.sbs .content {
    flex: 1;
}

.sbs h2 {
    font-size: 60px;
    margin: 0px;
}

.sbs p {
    margin-top: 16px;
    font-size: 20px;
}

.sbs img {
    width: 100%;
    border: 20px outset green;
    box-shadow: 2px 2px 5px black, inset 2px 2px 5px black;
    object-fit: cover;
}