* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

img {
    width: 100%;
    object-fit: cover;
}

.two-col {
    display: flex;
    justify-content: center;
    width: 90vw;
    max-width: 1280px;
    margin: 0px auto;
    gap: 50px;
}

#sidebar {
    width: 250px;
    order: 2;
}

#sidebar h2 {
    background-color: #74634f;
    margin: 0px;
    padding: 10px;
    font-size: 18px;
    color: white;
}

#sidebar ul {
    background-color: bisque;
    border: 0.5px solid #474706;
    margin: 0px 0px 25px;
    list-style-type: none;
    padding: 0px 15px;
}

#sidebar li {
    border-bottom: 0.5px solid black;
    padding: 10px 0px;
}

#sidebar li:last-child {
    border: 0px;
}

#sidebar a {
    text-decoration: none;
    color: black;
}

#main h1 {
    margin-top: 0px;
}