.main-container {
    background-color: #eeee;
    padding: 48px 0px;
}

.content-container  {
    background-color: #b3e9e9e3;
    width: 50%;
    max-width: 900px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#t1 {
    color: #a18a07;
    margin: 30px;
    padding: 5px;
}

#c1 {
    text-decoration: underline;
    color: green;
}

#m1 {
    font-style: italic;
}