* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.head {
    background: linear-gradient(to bottom, #eb6363, #680909);
    display: flex;
    padding: 35px;
    text-decoration: none;
    color: white;
    font-size: 50px;
    font-style: italic;
}
    
#bottom-lvl {
    background: linear-gradient(to bottom, #915f04, #e49606da);
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

#bottom-lvl a {
    text-decoration: none;
    color: white;
}

h1 {
    color: white;
    font-style: italic;
    margin: 0px;
}

#h1t {
    color: black;
    font-family: sans-serif;
}

.btn {
    font-size: 25px;
    background-color: black;
    padding: 5px;
    border-radius: 20px;
    font-style: oblique;
}