#i1 {
    width: 200px;
    border: 10px outset brown;
    background-color: #eeeeee;
    padding: 20px;
    margin: 25px;
    box-shadow: 2px 2px 5px inset;
}

#i2 {
    width: 200px;
    border: 10px outset pink;
    background-color: #eeeeee;
    padding: 20px;
    margin: 25px;
    box-shadow: 2px 2px 5px inset;
    border-radius: 50%;
}

#t1 {
    width: 200px;
    border: 10px outset purple;
    background-color: #eeeeee;
    padding: 20px;
    margin: 25px;
    box-shadow: 2px 2px 5px inset;
    display: inline-block;
}