* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

img {
    width: 100%;
    object-fit: cover;
}

header {
    position: sticky;
    top: 0px;
}

header #top-lvl {
    background: linear-gradient(to bottom, green, #3e6d3e);
    display: flex;
    justify-content: space-between;
}

#top-lvl a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

nav #logo img {
    width: 200px;
}

#top-lvl .btn {
    background-color: white;
    color: green;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

.container {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
    height: 200vh;
}

header #bottom-lvl {
    background: linear-gradient(to bottom, yellowgreen, olive);
    display: flex;
    justify-content: space-between;
}

#bottom-lvl a {
    text-decoration: none;
    color: white;
    padding: 24px;
}