body {
    font-family: 'Gill Sans', 'Helvetica', sans-serif;
}

h1 {
    font-family: cursive;
    font-style: italic;
    font-size: 50px;
    text-align: center;
    background-color: aqua;
    width: 600px;
}

span {
    font-weight: bold;
}

#s1 {
    color: chocolate;
}

#s2 {
    color: blueviolet;
}

p {
    font-weight: bold;
}

a {
    color: black;
    text-decoration: none;
}