@import url('https://fonts.googleapis.com/css2?family=Playwrite+CZ:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
    font-family: "Playwrite CZ", cursive;
}

p {
    font-family: "Raleway", sans-serif;
}

a {
    font-family: "Playwrite NZ Guides", cursive;
}